h1{
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), rbga(0,0,0,0.1));
    padding: 5px;
    text-align: center;
}

ul{
    list-style-type: none;
    margins: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(185, 185, 185);
}
li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
}

li a:hover{
    background-color: rgb(80, 79, 79);
}
